<h1>Edit your information.</h1>

<%= form_with model: @user, action: edit_user_path do |form| %>
  <div style="padding: 10px">
    <%= form.label :username, "Username:"%>
    <%= form.text_field :username, placeholder: "John Doe" %>
  </div>

  <div style="padding: 10px">
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, placeholder: "foo@bar.com" %>
  </div>

  <div style="padding: 10px">
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
  </div>

  <div><%= form.submit "Submit" %></div>
<% end %>
