<h1>Create a new user.</h1>

<%# <form action="/users" method="post" accept-charset="utf-8">
  <div style="padding: 10px">
    <label for="user_username">Username:</label>
    <input type="text" name="user[username]" id="user_username">
  </div>

  <div style="padding: 10px">
    <label for="user_email"> Email:</label>
    <input type="email" name="user[email]" id="user_email">
  </div>

  <div style="padding: 10px">
    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user_password">
  </div>

  <button type="submit">Submit</button>
</form> %>

<%# Disabled view for this form %>
<% form_tag "/users" do %>
  <div style="padding: 10px">
    <%= label_tag "user[username]", "Username:" %>
    <%= text_field_tag "user[username]" %>
  </div>

  <div style="padding: 10px">
    <%= label_tag "user[email]", "Email:" %>
    <%= email_field_tag "user[email]" %>
  </div>

  <div style="padding: 10px">
    <%= label_tag "user[password]", "Password:" %>
    <%= password_field_tag "user[password]" %>
  </div>

  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
  <div style="padding: 10px">
    <%= form.label :username, "Username:"%>
    <%= form.text_field :username, placeholder: "John Doe" %>
  </div>

  <div style="padding: 10px">
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, placeholder: "foo@bar.com" %>
  </div>

  <div style="padding: 10px">
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
  </div>

  <div><%= form.submit "Submit" %></div>
<% end %>
